<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lanyonm.playground.persistence.UserMapper">
    <cache/>

    <select id="getAllGames" resultType="Game">
        SELECT id, aPlayer1, aPlayer2, bPlayer1, bPlayer2, dateOfGame FROM games
    </select>

    <insert id="insertGame" parameterType="Game">
        INSERT INTO games (aPlayer1, aPlayer2, bPlayer1, bPlayer2, dateOfGame)
        VALUES (#{aPlayer1}, #{aPlayer2}, #{bPlayer1}, #{bPlayer2}, #{dateOfGame})
    </insert>

    <update id="updateGame" parameterType="Game">
        UPDATE games SET
        aPlayer1 = #{aPlayer1},
        aPlayer2 = #{aPlayer2},
        bPlayer1 = #{bPlayer1},
        bPlayer2 = #{bPlayer2},
        dateOfGame = #{dateOfGame}
        WHERE ID = #{id}
    </update>
</mapper>