<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guidewire.foosballrating.persistence.GameMapper">
    <cache/>

    <select id="getAllGames" resultType="Game">
        SELECT * FROM games
    </select>

    <insert id="insertGame" parameterType="Game">
        INSERT INTO games (aPlayer1, aPlayer2, bPlayer1, bPlayer2, aScore, bScore, dateOfGame)
        VALUES (#{aPlayer1}, #{aPlayer2}, #{bPlayer1}, #{bPlayer2}, #{aScore}, #{bScore}, #{dateOfGame})
    </insert>

    <update id="updateGame" parameterType="Game">
        UPDATE games SET
        aPlayer1 = #{aPlayer1},
        aPlayer2 = #{aPlayer2},
        bPlayer1 = #{bPlayer1},
        bPlayer2 = #{bPlayer2},
        aScore = #{aScore},
        bScore = #{bScore},
        dateOfGame = #{dateOfGame}
        WHERE ID = #{id}
    </update>
</mapper>